.banner {
  background-image: linear-gradient(-220deg, rgba(30,30,30,0.7) 0%, rgba(30,30,30,0.2) 50%), url("../images/banner1.jpg");
  color: white;
  padding: 180px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}

.banner p {
 font-family: 'Varela', sans-serif;
  font-size: 22px;
  margin-bottom: 50px;

}
.banner a {
  font-size: 18px;
}



@media(max-width: 500px) {

  .banner {
    padding: 120px;
  }

  .banner h1 {
  font-size: 32px;
  }

  .banner p {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .banner a {
  font-size: 14px;
  }
}
