#avatar-round{
border: 10px solid grey;
width: 132px;
margin: 18px;
height:  132px;
border-radius: 50%;
box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}

.pictures-round{
border: 10px solid #35858B;
margin: 18px;
width: 60px;
height:  60px;
border-radius: 50%;
box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}

.logo{
margin: 18px;
width: 20px;
height:  20px;
border-radius: 0%;
box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
}

.skills-image{
margin: 18px;
width: 35px;
height:  35px;
border-radius: 0%;
box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);

}